# Dependabot will run on day 13 of each month at 03:26 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 30
